html {
  display: block;
  width: 100%;
  height: 100%;
}

div {
  display: block;
  width: 100%;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  height: 100%;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 960px;
  }
}

.hero {
  background: url('../images/hero.jpg') no-repeat top center;
  height: 825px;
}

@media (max-width: 830px) {
  .hero {
    height: 500px;
    background-size: cover;
    background-position: 40% center;
  }
}

.collapse ul {
  position: absolute;
  right: 0;
}

@media (max-width: 1200px) {
  .collapse ul {
    position: relative;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

button {
    border: 2px solid #444444;
}

.navbar {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
}

.navbar a {
  color: #fefeff;
  text-decoration: underline;
  font-size: 12px;
  line-height: 20px;
}

.sections-wrapper .navigation {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.sections-wrapper .navigation a {
  color: #414f6b;
}

.section .num {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 32px;
  line-height: 37px;
  color: #414f6b;
}

.section .num {
  position: relative;
  z-index: 1;
}

.section .number {
  font-size: 135px;
  line-height: 137px;
  color: #6a7b96;
}

.section .decimal {
  position: absolute;
}

.section .num .text {
  position: relative;
  bottom: 30px;
}

.section p {
  font-family: 'Lato', Arial, sans-serif;
  color: #000000;
  font-weight: 300;
}

#history {
  background: url('../images/sec1-hero.jpg') no-repeat top center;
  height: 905px;
}

#history .container {
  padding-top: 70px;
}

#history p {
  margin: 0 auto;
  width: 87%;
}

#team .white-bar {
  padding-top: 40px;
}

.mountain-tabs {
  background-color: #414f6b;
}

.mountain-tabs .container {
  padding-top: 0;
}

.mountain-tabs span {
  padding: 20px 10px;
  font-family: 'Oswald', Arial, sans-serif;
  color: #b0b4be;
  font-size: 20px;
  font-weight: bold;
}

.content {
  height: 546px;
}

.content .container {
  padding-top: 100px;
}

.content .schedule {
  padding: 25px 40px;
  width: 352px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
}

.content .schedule h3 {
  padding-bottom: 20px;
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 32px;
  line-height: 23px;
  color: #414f6b;
}

.content .schedule table {
  width: 80%;
  height: auto;
}

.content .schedule table td.spacer {
  height: 20px;
}

.content .schedule table td {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.mtn1 {
  height: 100%;
  background: url('../images/sec2-tab1.jpg') no-repeat top center;
}

.mtn2 {
  display: none;
  height: 100%;
  background: url('../images/sec2-tab2.jpg') no-repeat top center;
}

.accordion {
  display: none;
}

@media (max-width: 768px) {
  .accordion, .accordion .mtn2 {
    display: block;
  }

  .accordion .card-header {
      background-color: #414f6b;
      padding: 20px 10px;
  }

  .accordion .btn {
    font-family: 'Oswald', Arial, sans-serif;
    color: #b0b4be;
    font-size: 20px;
    font-weight: bold;
  }

  .content .schedule {
    padding: 25px 40px;
    width: 352px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .accordion .schedule h3 {
    padding-bottom: 20px;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 32px;
    line-height: 23px;
    color: #414f6b;
  }

  .accordion .schedule table {
    width: 80%;
    height: auto;
  }

  .accordion .schedule table td.spacer {
    height: 20px;
  }

  .accordion .schedule table td {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  .mountain-tabs, .content {
    display: none;
  }
}

footer {
  padding: 15px 0;
  width: 100%;
  height: auto;
  background-color: #414f6b;
}

footer .container {
  display: flex;
  height: 43px;
  align-items: center;
  justify-content: space-between;
}

footer img {
  display: inline-block;
}

footer p {
  display: inline-block;
  padding-bottom: 0;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 900;
  font-style: italic;
  color: #63769d;
  align-self: flex-end;
}
